.footer {
  width: 100vw;
  height: 30vh;
  background-color: #fcb93e;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
}
h2 {
  position: relative;
  left: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.links{
    color:orangered;
}
li {
  margin: 15px;
  position: relative;
  bottom: 15px;
  color: orangered;
}
.footer-heading{
    color:#ff7700; 
}